In [1]:
import pandas as pd
import os
import numpy as np
import copy
import random

In [2]:
def make_derangement(num_index, how_many):
    idx = np.arange(num_index)
    
    sf = copy.deepcopy(idx)
    results = []
    for _ in range(min(num_index-1, how_many)):
        # make a derangement
        while True:
            np.random.shuffle(sf)
            if not np.any((sf == idx)):
                results.append(sf.tolist())
                break
    return results

print(make_derangement(10, 5))
print()
print(make_derangement(3, 5))

[[4, 8, 6, 7, 9, 1, 3, 0, 2, 5], [9, 0, 7, 1, 2, 8, 5, 4, 3, 6], [6, 7, 3, 0, 1, 4, 8, 5, 9, 2], [3, 0, 1, 4, 9, 6, 8, 5, 2, 7], [1, 3, 7, 8, 5, 2, 9, 0, 4, 6]]

[[2, 0, 1], [2, 0, 1]]

In [3]:
no_new_whale_list = pd.read_csv('../../data/all/train_no_new_whale.csv')
new_whale_list = pd.read_csv('../../data/all/new_whale.csv')
print(no_new_whale_list.head())
print(new_whale_list.head())

           Image         Id
0  0000e88ab.jpg  w_f48451c
1  0001f9222.jpg  w_c3d896a
2  00029d126.jpg  w_20df2c5
3  000a6daec.jpg  w_dd88965
4  0016b897a.jpg  w_64404ac
           Image         Id
0  00050a15a.jpg  new_whale
1  0005c1ef8.jpg  new_whale
2  0006e997e.jpg  new_whale
3  000f0f2bf.jpg  new_whale
4  001d7450c.jpg  new_whale

In [4]:
no_new_whale_list_len = no_new_whale_list.shape[0]
print(no_new_whale_list_len)

15697

In [5]:
# get all ids for known whales
known_ids = no_new_whale_list.Id.unique().tolist()
print(known_ids[:10])
print(len(known_ids))

['w_f48451c', 'w_c3d896a', 'w_20df2c5', 'w_dd88965', 'w_64404ac', 'w_a6f9d33', 'w_581ba42', 'w_cb622a2', 'w_d3b46e7', 'w_8cad422']
5004

## make match pairs

In [6]:
# make match pairs, in form: im_a, im_b, id_a, id_b, label, label == 1 means they're
# from a same whale

match_pairs = pd.DataFrame(columns=['im_a', 'im_b', 'id_a', 'id_b', 'label'])

for id in known_ids:
    one_whale = no_new_whale_list[no_new_whale_list.Id == id]
    one_whale = one_whale.reset_index(drop=True)
    one_whale_len = one_whale.shape[0]
    
    if  one_whale_len == 1:
        continue # drop just ID which just has only one image
        #im_a = one_whale.Image[0]
        #im_b = one_whale.Image[0]
        #id_a = id
        #id_b = id
        #label = int(1)
        #match_pairs = match_pairs.append({'im_a':im_a, 'im_b':im_b, 'id_a':id_a,
        #                                 'id_b':id_b, 'label':label},
        #                                ignore_index=True)
    else:
        derangements = make_derangement(one_whale_len, 10)
        for drg in derangements:
            one_drged = one_whale.iloc[drg, :]
            match_pairs = match_pairs.append(
                pd.DataFrame({'im_a':one_whale.Image.iloc[:].as_matrix().tolist(),
                 'im_b':one_drged.Image.iloc[:].as_matrix().tolist(), 
                 'id_a':id, 'id_b':id, 'label':int(1)}),
                ignore_index=True)

print(match_pairs.shape)

(76786, 5)

In [7]:
match_pairs.to_csv('../../data/all/match_pairs_10.csv', index=False)

## make different pairs

sicne we made 76786 match_paris, we now will make 5 times num of diffrent paris, for 15697 images in no_new_whale_list, we make 25 pairs for each image, 13 from no_new_whale_list, another 12 from new_whale_list

In [8]:
different_pairs = pd.DataFrame(columns=['id_a', 'id_b', 'im_a', 'im_b', 'label'])

for i in range(no_new_whale_list_len):
    one_whale = no_new_whale_list.iloc[i,:]
    id_a = one_whale.Id
    im_a = one_whale.Image
    known_candidate = no_new_whale_list[no_new_whale_list.Id != id_a]
    idxs_known = np.random.choice(np.arange(known_candidate.shape[0]).tolist(), 13)
    idxs_new_whale = np.random.choice(np.arange(new_whale_list.shape[0]).tolist(), 12)
    concated = pd.concat([known_candidate.iloc[idxs_known, :],
                          new_whale_list.iloc[idxs_new_whale, :]],
                        ignore_index=True)
    different_pairs = different_pairs.append(
        pd.DataFrame({'id_a': id_a,
                      'id_b': concated.Id.iloc[:].as_matrix().tolist(),
                      'im_a': im_a,
                      'im_b': concated.Image.iloc[:].as_matrix().tolist(),
                      'label': int(0)}), 
        ignore_index=True)

print(different_pairs.shape)

(392425, 5)

In [9]:
print(different_pairs.iloc[200:400])
print(different_pairs.iloc[-400:-200])
different_pairs.to_csv('../../data/all/different_pairs_10.csv', index=False)

          id_a       id_b           im_a           im_b label
200  w_d3b46e7  w_1ca9ab1  00357e37a.jpg  bb86f0613.jpg     0
201  w_d3b46e7  w_2f350be  00357e37a.jpg  48dcbcac0.jpg     0
202  w_d3b46e7  w_ef83760  00357e37a.jpg  f924801c6.jpg     0
203  w_d3b46e7  w_1b0db58  00357e37a.jpg  f36ec15ff.jpg     0
204  w_d3b46e7  w_5793f1c  00357e37a.jpg  d0b96c2e9.jpg     0
205  w_d3b46e7  w_456646a  00357e37a.jpg  4a9ad3167.jpg     0
206  w_d3b46e7  w_4441671  00357e37a.jpg  be49fc1a2.jpg     0
207  w_d3b46e7  w_1ca7433  00357e37a.jpg  6cf8a08d1.jpg     0
208  w_d3b46e7  w_03e3e5e  00357e37a.jpg  266992f6a.jpg     0
209  w_d3b46e7  w_90abfeb  00357e37a.jpg  2f510dcb4.jpg     0
210  w_d3b46e7  w_69b5ace  00357e37a.jpg  26d46f62c.jpg     0
211  w_d3b46e7  w_e8b82f6  00357e37a.jpg  1ff9a9a3b.jpg     0
212  w_d3b46e7  w_0fdf741  00357e37a.jpg  5003d7331.jpg     0
213  w_d3b46e7  new_whale  00357e37a.jpg  523653a6b.jpg     0
214  w_d3b46e7  new_whale  00357e37a.jpg  3257f472c.jpg     0
215  w_d3b46e7  new_whale  00357e37a.jpg  3d4f9f22a.jpg     0
216  w_d3b46e7  new_whale  00357e37a.jpg  f6ceb31bc.jpg     0
217  w_d3b46e7  new_whale  00357e37a.jpg  7429a88af.jpg     0
218  w_d3b46e7  new_whale  00357e37a.jpg  64c7591d3.jpg     0
219  w_d3b46e7  new_whale  00357e37a.jpg  154a5dea3.jpg     0
220  w_d3b46e7  new_whale  00357e37a.jpg  4c9aaf030.jpg     0
221  w_d3b46e7  new_whale  00357e37a.jpg  1a7c60842.jpg     0
222  w_d3b46e7  new_whale  00357e37a.jpg  f01d9a899.jpg     0
223  w_d3b46e7  new_whale  00357e37a.jpg  3a45abe05.jpg     0
224  w_d3b46e7  new_whale  00357e37a.jpg  27848db54.jpg     0
225  w_8cad422  w_550ca18  00442c882.jpg  4fb67dfbb.jpg     0
226  w_8cad422  w_b1b2f0f  00442c882.jpg  e1916c620.jpg     0
227  w_8cad422  w_48872ad  00442c882.jpg  a9fccd06c.jpg     0
228  w_8cad422  w_f1b6eea  00442c882.jpg  9fe0fdfc8.jpg     0
229  w_8cad422  w_4ff2f4a  00442c882.jpg  56c352548.jpg     0
..         ...        ...            ...            ...   ...
370  w_8dddbee  new_whale  00514c876.jpg  8cf848d54.jpg     0
371  w_8dddbee  new_whale  00514c876.jpg  8e8ca03b8.jpg     0
372  w_8dddbee  new_whale  00514c876.jpg  77d1818da.jpg     0
373  w_8dddbee  new_whale  00514c876.jpg  21b05eb04.jpg     0
374  w_8dddbee  new_whale  00514c876.jpg  d786cc6ae.jpg     0
375  w_2365d55  w_0a8e080  0052ce2f5.jpg  212eeaa42.jpg     0
376  w_2365d55  w_4ea4f59  0052ce2f5.jpg  0b1377e45.jpg     0
377  w_2365d55  w_f86b16b  0052ce2f5.jpg  b6430af24.jpg     0
378  w_2365d55  w_f37c434  0052ce2f5.jpg  eea64152a.jpg     0
379  w_2365d55  w_c566a3d  0052ce2f5.jpg  19308a3f1.jpg     0
380  w_2365d55  w_242fb46  0052ce2f5.jpg  1883237ff.jpg     0
381  w_2365d55  w_6fce84d  0052ce2f5.jpg  346b64046.jpg     0
382  w_2365d55  w_0a1fcd6  0052ce2f5.jpg  7056562e7.jpg     0
383  w_2365d55  w_c4f01e2  0052ce2f5.jpg  1a34a0d37.jpg     0
384  w_2365d55  w_0e0b65c  0052ce2f5.jpg  42575e722.jpg     0
385  w_2365d55  w_5a2634c  0052ce2f5.jpg  83171df9f.jpg     0
386  w_2365d55  w_f64d347  0052ce2f5.jpg  6f4cee3a6.jpg     0
387  w_2365d55  w_465d9c7  0052ce2f5.jpg  e551d26a6.jpg     0
388  w_2365d55  new_whale  0052ce2f5.jpg  82737a0ed.jpg     0
389  w_2365d55  new_whale  0052ce2f5.jpg  5a826b9e2.jpg     0
390  w_2365d55  new_whale  0052ce2f5.jpg  7e4b7ec28.jpg     0
391  w_2365d55  new_whale  0052ce2f5.jpg  8436d826b.jpg     0
392  w_2365d55  new_whale  0052ce2f5.jpg  70ee4adcb.jpg     0
393  w_2365d55  new_whale  0052ce2f5.jpg  648750eda.jpg     0
394  w_2365d55  new_whale  0052ce2f5.jpg  9c9fd59ef.jpg     0
395  w_2365d55  new_whale  0052ce2f5.jpg  b705d5043.jpg     0
396  w_2365d55  new_whale  0052ce2f5.jpg  210d48a5d.jpg     0
397  w_2365d55  new_whale  0052ce2f5.jpg  04ab8f618.jpg     0
398  w_2365d55  new_whale  0052ce2f5.jpg  01cd70a58.jpg     0
399  w_2365d55  new_whale  0052ce2f5.jpg  d78425146.jpg     0

[200 rows x 5 columns]
             id_a       id_b           im_a           im_b label
392025  w_772845b  w_698fcbe  ffa3d0d2e.jpg  9c88e1f32.jpg     0
392026  w_772845b  w_2034344  ffa3d0d2e.jpg  b21ca3896.jpg     0
392027  w_772845b  w_d066c0a  ffa3d0d2e.jpg  d72b8b423.jpg     0
392028  w_772845b  w_cb4d3ed  ffa3d0d2e.jpg  f1af80e74.jpg     0
392029  w_772845b  w_56cb095  ffa3d0d2e.jpg  653b3b0e3.jpg     0
392030  w_772845b  w_551f361  ffa3d0d2e.jpg  f0a811d6c.jpg     0
392031  w_772845b  w_16b5050  ffa3d0d2e.jpg  ee2cb0f57.jpg     0
392032  w_772845b  w_1247b8c  ffa3d0d2e.jpg  907556216.jpg     0
392033  w_772845b  w_576026e  ffa3d0d2e.jpg  a4e619da0.jpg     0
392034  w_772845b  w_8da30ad  ffa3d0d2e.jpg  261eb57e6.jpg     0
392035  w_772845b  w_a586dce  ffa3d0d2e.jpg  77998a8e4.jpg     0
392036  w_772845b  w_9f13096  ffa3d0d2e.jpg  ad2f5f34d.jpg     0
392037  w_772845b  w_9eb2d2a  ffa3d0d2e.jpg  1a9aae807.jpg     0
392038  w_772845b  new_whale  ffa3d0d2e.jpg  0977c7301.jpg     0
392039  w_772845b  new_whale  ffa3d0d2e.jpg  b15f34902.jpg     0
392040  w_772845b  new_whale  ffa3d0d2e.jpg  77f9faad0.jpg     0
392041  w_772845b  new_whale  ffa3d0d2e.jpg  440b7e2a5.jpg     0
392042  w_772845b  new_whale  ffa3d0d2e.jpg  453a5fda7.jpg     0
392043  w_772845b  new_whale  ffa3d0d2e.jpg  44f042afd.jpg     0
392044  w_772845b  new_whale  ffa3d0d2e.jpg  bb3f6d178.jpg     0
392045  w_772845b  new_whale  ffa3d0d2e.jpg  adf554527.jpg     0
392046  w_772845b  new_whale  ffa3d0d2e.jpg  4e6fd0c0d.jpg     0
392047  w_772845b  new_whale  ffa3d0d2e.jpg  4e7de08ff.jpg     0
392048  w_772845b  new_whale  ffa3d0d2e.jpg  ce57238d9.jpg     0
392049  w_772845b  new_whale  ffa3d0d2e.jpg  63b3017ac.jpg     0
392050  w_420254e  w_f84e6e1  ffa5fa27e.jpg  0c0cea389.jpg     0
392051  w_420254e  w_cfce505  ffa5fa27e.jpg  b160cb438.jpg     0
392052  w_420254e  w_691b684  ffa5fa27e.jpg  26098b223.jpg     0
392053  w_420254e  w_d11ce9a  ffa5fa27e.jpg  a174214ee.jpg     0
392054  w_420254e  w_f7cd240  ffa5fa27e.jpg  d4c6e6552.jpg     0
...           ...        ...            ...            ...   ...
392195  w_4a28f21  new_whale  ffc0dd0dc.jpg  58bedd3fe.jpg     0
392196  w_4a28f21  new_whale  ffc0dd0dc.jpg  2ee6acdb0.jpg     0
392197  w_4a28f21  new_whale  ffc0dd0dc.jpg  abadbf79a.jpg     0
392198  w_4a28f21  new_whale  ffc0dd0dc.jpg  70af12f4c.jpg     0
392199  w_4a28f21  new_whale  ffc0dd0dc.jpg  403798138.jpg     0
392200  w_51e7506  w_180e241  ffca5cb22.jpg  1d94946ef.jpg     0
392201  w_51e7506  w_6cfa650  ffca5cb22.jpg  6ac6340ed.jpg     0
392202  w_51e7506  w_dee1053  ffca5cb22.jpg  6f68a7ea0.jpg     0
392203  w_51e7506  w_990921b  ffca5cb22.jpg  3671adf0d.jpg     0
392204  w_51e7506  w_6ca173f  ffca5cb22.jpg  9e7b79db9.jpg     0
392205  w_51e7506  w_cc79b6c  ffca5cb22.jpg  a59a7ef70.jpg     0
392206  w_51e7506  w_f10aaf0  ffca5cb22.jpg  f5e59019f.jpg     0
392207  w_51e7506  w_2e374c0  ffca5cb22.jpg  2b5b929ed.jpg     0
392208  w_51e7506  w_e4a9205  ffca5cb22.jpg  58c49d387.jpg     0
392209  w_51e7506  w_91cdea4  ffca5cb22.jpg  05cb42d60.jpg     0
392210  w_51e7506  w_fd3e556  ffca5cb22.jpg  95acd37b5.jpg     0
392211  w_51e7506  w_b938e96  ffca5cb22.jpg  19a81076c.jpg     0
392212  w_51e7506  w_62c78f3  ffca5cb22.jpg  8f94af03a.jpg     0
392213  w_51e7506  new_whale  ffca5cb22.jpg  279688ee2.jpg     0
392214  w_51e7506  new_whale  ffca5cb22.jpg  0598630de.jpg     0
392215  w_51e7506  new_whale  ffca5cb22.jpg  51db79496.jpg     0
392216  w_51e7506  new_whale  ffca5cb22.jpg  428c44939.jpg     0
392217  w_51e7506  new_whale  ffca5cb22.jpg  6447f1eeb.jpg     0
392218  w_51e7506  new_whale  ffca5cb22.jpg  f717c645d.jpg     0
392219  w_51e7506  new_whale  ffca5cb22.jpg  3700b446a.jpg     0
392220  w_51e7506  new_whale  ffca5cb22.jpg  eea182824.jpg     0
392221  w_51e7506  new_whale  ffca5cb22.jpg  42da4ddf6.jpg     0
392222  w_51e7506  new_whale  ffca5cb22.jpg  633fabcfe.jpg     0
392223  w_51e7506  new_whale  ffca5cb22.jpg  735980861.jpg     0
392224  w_51e7506  new_whale  ffca5cb22.jpg  ed6ee4761.jpg     0

[200 rows x 5 columns]

In [10]:
merged_list = pd.concat([match_pairs, different_pairs], ignore_index=True)
shuffle_idx = np.arange(merged_list.shape[0])
np.random.shuffle(shuffle_idx)
np.random.shuffle(shuffle_idx)
np.random.shuffle(shuffle_idx)
merged_list = merged_list.iloc[shuffle_idx,:]
merged_list = merged_list.reset_index(drop=True)
print(merged_list.shape)
merged_list.iloc[:20,:]

(469211, 5)

         id_a       id_b           im_a           im_b label
0   w_480d478  new_whale  e36654163.jpg  7e453ebba.jpg     0
1   w_e53ba4a  new_whale  b7e517743.jpg  b8e4d6d78.jpg     0
2   w_f765256  new_whale  212b9bd39.jpg  2cc7e409a.jpg     0
3   w_01f14e1  w_f829227  c1e1d7f3e.jpg  d844da11a.jpg     0
4   w_803ad0d  w_179c9f0  4eb9b51de.jpg  f69c572db.jpg     0
5   w_70d0b3c  new_whale  2d07ab7d2.jpg  fe0241a8f.jpg     0
6   w_cbb15d2  new_whale  ec0d8583d.jpg  22cb0c36f.jpg     0
7   w_4e1e04d  new_whale  00b92e9bf.jpg  1e55ac126.jpg     0
8   w_c25d2d1  new_whale  19d6253de.jpg  946fc7503.jpg     0
9   w_e2372d6  w_5a9abcf  241aeee0f.jpg  ac29bbe2e.jpg     0
10  w_62b631e  w_cbd2194  337bde0e4.jpg  d9fa21499.jpg     0
11  w_2745292  new_whale  5cc3ee34b.jpg  54e23d692.jpg     0
12  w_689e1cd  w_d0bfef3  086abcc75.jpg  06e157a91.jpg     0
13  w_ad6a6ca  w_ad6a6ca  ae2af8969.jpg  ab70f0115.jpg     1
14  w_fbf7d73  w_fbf7d73  9f4505249.jpg  91b9eb707.jpg     1
15  w_e36b021  new_whale  7a980b811.jpg  825f79c5d.jpg     0
16  w_bd572cf  new_whale  4d9fc178b.jpg  e88546ec8.jpg     0
17  w_49ce813  new_whale  83b2ca5aa.jpg  b70404789.jpg     0
18  w_c1d2d7f  w_40a8585  2e2da7d70.jpg  9d45383c8.jpg     0
19  w_3815890  w_5a9abcf  81d69b10c.jpg  9b9ec73a9.jpg     0

In [11]:
merged_list.to_csv('../../data/all/siamese_pairs_10.csv', index=False)

### split siamese_pairs_10_all into train and val split

In [13]:
siamese_paris_all = pd.read_csv('../../data/all/siamese_pairs_10.csv')
print(siamese_paris_all.shape)
siamese_paris_all.head()

(469211, 5)

        id_a       id_b           im_a           im_b  label
0  w_480d478  new_whale  e36654163.jpg  7e453ebba.jpg      0
1  w_e53ba4a  new_whale  b7e517743.jpg  b8e4d6d78.jpg      0
2  w_f765256  new_whale  212b9bd39.jpg  2cc7e409a.jpg      0
3  w_01f14e1  w_f829227  c1e1d7f3e.jpg  d844da11a.jpg      0
4  w_803ad0d  w_179c9f0  4eb9b51de.jpg  f69c572db.jpg      0

In [14]:
all_idx = np.arange(siamese_paris_all.shape[0])
print(all_idx[:20])
np.random.shuffle(all_idx)
np.random.shuffle(all_idx)
np.random.shuffle(all_idx)
print(all_idx[:20])

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19]
[401943  73790 189878 283706 202716 270863 293660  15707 201803  79844
 284063  63645 447586 369383  45009 396151 185722 268636 182956  95472]

In [15]:
train_split_long = int(siamese_paris_all.shape[0] * 0.9)
train_split_idx = all_idx[:train_split_long]
val_split_idx = all_idx[train_split_long:]
print(train_split_idx.shape, train_split_idx, train_split_idx.min(), train_split_idx.max())
print(val_split_idx.shape, val_split_idx, val_split_idx.min(), val_split_idx.max())

(422289,) [401943  73790 189878 ... 415880 454870 316504] 0 469210
(46922,) [104220  49251 224388 ... 247270  87957 220755] 12 469208

In [16]:
train_split = siamese_paris_all.iloc[train_split_idx]
val_split = siamese_paris_all.iloc[val_split_idx]

In [17]:
print(train_split.shape)
train_split.head()

(422289, 5)

             id_a       id_b           im_a           im_b  label
401943  w_ab44ae4  new_whale  be51fb093.jpg  e106eb7b4.jpg      0
73790   w_20950a9  w_20950a9  d0e44ece4.jpg  a670c5bc2.jpg      1
189878  w_f91389a  w_ffa542b  f86bcd018.jpg  8abea550e.jpg      0
283706  w_ed1df50  new_whale  029449f85.jpg  d49a452aa.jpg      0
202716  w_d10cf66  w_1f1cee1  6f3df50a3.jpg  dd468c731.jpg      0

In [18]:
print(val_split.shape)
val_split.head()

(46922, 5)

             id_a       id_b           im_a           im_b  label
104220  w_c25d2d1  new_whale  3f22b5160.jpg  e88546ec8.jpg      0
49251   w_2b4b82e  new_whale  bcd1a1957.jpg  1b3d1fa16.jpg      0
224388  w_c6b4d61  w_c6b4d61  85369a41f.jpg  ed135b296.jpg      1
184958  w_695c604  w_b71ac68  8f8328950.jpg  25ff06acf.jpg      0
139412  w_fd51859  w_b3ca4b7  bc9a158e6.jpg  5117e04c0.jpg      0

In [19]:
train_split.to_csv('../../data/all/siamese_pairs_10_train.csv', index=False)
val_split.to_csv('../../data/all/siamese_pairs_10_val.csv', index=False)